   /* Menu.css */

.menuContainer {
    height: 100vh;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid gray;
    z-index: 1;
  }
  
  .menuBox {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .logoContainer {
    display: flex;
    justify-content: center;
  }
  
  .menuLogo {
    width: 80%;
    max-width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 4.5rem;
  }
  
  .menuBox ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .menuBox li {
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .menuBox a {
    text-decoration: none;
    color: gray;
  }
  
  .menuBox a:hover {
    color: #64a953;
    font-weight: bold;
  }

  .activeLink {
    color: green;
  }
  
  /* LANDING CSS */
   
  .landingContainer {
    min-height: 100vh;
    background-image: url('../assets/fkl2.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .landingBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landingBox h1 {
    font-size: 3.8rem;
    text-align: center;
    line-height: 1.15;
  }

  .landingBox p {
    font-size: 1.3rem;
    text-align: center;
    margin-top: -1rem;
  }
  
  .landingBox button {
    border: 1px solid gray;
    background-color: transparent;
    border-radius: .3rem;
    color: white;
    padding: 1rem;
    font-size: .9rem;
  }

  .landingBox button:hover {
    background-color: #64a953;
    cursor: pointer;
    border: #64a953;
  }


    /* IndustryERP CSS */

  /* h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  } */

  .container{
    font-size: 30px;
    /* min-height: 100vh; */
    text-align: center;
    width: 100%;
  }
  .content{
    font-weight:bold;
    align-items: center;
    font-size: 15px;
    width: auto;
    height: 100vh;
    margin-top: 20px;
  }

  .solutions{
    display: flex;
    font-style:normal;
    box-sizing: border-box;
    position: absolute;
  }

  .solution{
    flex: 1;
    padding: 20px;
    /* border: red 5px solid; */
    max-height: 100%;
  }

  .pictures{
     
    /* height:fit-content; */
    /* border: green solid 5px; */
    display: flex;
    box-sizing: border-box;
    position:relative;
  }
  .picture{
    flex: 1;
    padding: 20px;
    padding-bottom: 0px;
    max-height: 100%;
    /* border: red 5px solid;     */
  }

  .drop {
    margin-top: 30px;
    height: auto;
    display: block;
  }

  .heading{
    text-decoration:wavy;
    font-size: 24px; 
    font-weight: bold; 
    color: #333; 
    background-color: #f0f0f0; 
    padding: 10px; 
    border-radius: 5px; 
    text-align: center; 
  }

    /* industry erps styles */

  .industryContainer {
    margin: 0 auto;
    padding: 0 4rem;
  }

  .sectionTitle {
    text-align: center;
    margin-bottom: 30px;
  }

  .industyBox {
    display: flex;
    justify-content: space-between;
  }

  .erpBox {
    width: calc(33.33% - 20px);
    padding: 1.3rem;
  }

  .erpBox .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
  }

  .erpBox .image img {
    width: 100%; 
    height: auto;
  }
  .erpBox h4 {
    margin-top: 10px;
  }

  .erpBox p {
    font-size: 14px;
  }


  /* portfolio styles */

  .portfolioContainer {
    text-align: start;
    padding: 1.5rem;
  }

  .sectionTitle {
    text-align: center;
    font-size: 2.5rem;
    color: gray;
  }

  .portfolioSlider {
    margin: 0 auto;
    padding-left: 3rem;
  }

  .img-body {
    width: 350px;
    aspect-ratio: 1/1;
    display: inline-block;
  }
  
  .img-body img {
    display: flex;
    margin: 0 auto;
    height: 40vh;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .sliderTitle {
    color: #111;
    font-size: 1.3rem;
    font-weight: 550;
  }
  
  .desc {
    text-align: start;
    list-style: none;
    padding-left: 0;
  }

  .desc li:before {
    content: '✓';
    color: #64a953;
  }

  /* contact styles */

  .contactBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .open-hours {
    text-align: center;
    margin-bottom: 2rem;
  }

  .open-hours h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .open-hours ul {
    list-style-type: none;
    padding: 0;
    /* display: flex; */
  }
  
  .open-hours li {
    margin-bottom: 5px;
  }

  .selected {
    color: #64a953;
    font-size: 1rem;
  }
  
  
  .toggle-arrow {
    cursor: pointer;
    color: blue; 
  }

  .portalLink a {
    color: #111;
      text-decoration: none;
  }

  .banner {
    max-height: 100%;
    height: 500px;
    box-sizing: border-box;
    text-align: center;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
   
  }
  
  .networks {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .networks-outer {
    display: table;
    position: relative;
    width: 5em;
    height: 5em;
    border: 2px solid white;
    border-radius: 4em;
    transition: background-color 0.2s ease-in-out;
  }
  
  .networks-outer a {
    display: table-cell;
    vertical-align: middle;
    color: white;
  }
  
  .fa:before {
    font-size: 40px;
  }
  
  .networks:hover .networks-outer {
    background: rgba(255,255,255,.5);
    cursor: pointer;
  }
  
  /**** Social-Network-Specific ****/
  
  .networks:hover .fa-facebook {
    color: rgb(59,89,152);
  }
  
  #facebook.networks-outer:hover {
    border-color: rgb(59,89,152);
    border: green solid 2px;
  }
  
  .networks:hover .fa-instagram {
    color: black;
  }
  
  #instagram.networks-outer:hover {
    border-color: black;
  }
  
  .networks:hover .fa-youtube-play {
    color: red;
  }
  
  #youtube.networks-outer:hover {
    border-color: red;
  }
  
  .networks:hover .fa-twitter {
    color: rgb(29,161,242);
  }
  
  #twitter.networks-outer:hover {
    border-color: rgb(29,161,242);
  }
  
  .networks:hover .fa-google-plus-official {
    animation: multicolor 4s linear 0s infinite alternate;
    color: #db3236;
  }
  
  #google-plus.networks-outer:hover {
    animation: multicolorBorder 4s linear 0s infinite alternate;
    border-color: #db3236;
  }
  
  @keyframes multicolor {
    0% {
      color: #4885ed;
    }
    33% {
      color: #3cba54;
    }
    66% {
      color: #f4c20d;
    }
    100% {
      color: #db3236;
    }
  }
  
  @keyframes multicolorBorder {
    0% {
      border-color: #4885ed;
    }
    33% {
      border-color: #3cba54;
    }
    66% {
      border-color: #f4c20d;
    }
    100% {
      border-color: #db3236;
    }
  }
  
  
  .networks:hover .fa-pinterest {
    color: rgb(189,8,28); 
  }
  
  #pinterest.networks-outer:hover {
    border-color: rgb(189,8,28);
  }
  
  .networks:hover .fa-tumblr {
    color: #36465d;
  }
  
  #tumblr.networks-outer:hover {
    border-color: #36465d;
  }
  
  .networks:hover .fa-linkedin {
    color: #0077B5;
  }
  
  #linkedin.networks-outer:hover {
    border-color: #0077B5;
  }
  
  .networks:hover .fa-rss {
    color: #ee802f;
  }
  
  #rss.networks-outer:hover {
    border-color: #ee802f;
  }
  
  .networks:hover .fa-deviantart {
    color: #05cc47;
  }
  
  #deviantart.networks-outer:hover {
    border-color: #05cc47;
  }
  
  .networks:hover .fa-vimeo {
    color: #1ab7ea;
  }
  
  #vimeo.networks-outer:hover {
    border-color: #1ab7ea;
  }

 /* footer styles */

  
