.acumaticaContainer {
    margin-left: 21%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .sectionTitle {
    text-align: center;
    font-size: 2rem;
    color: gray;
  }

  .Erp {
    text-align: start;
  }
  
  .acumaticaContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .imageContainer { 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgPall {
    /* border: 1px solid red; */
  }

  .imageContainer img { 
    width: 100%; 
    height: auto;
  }
  
  .textContainer h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .textContainer p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .textContainer a {
    color: #111;
    font-size: 18px;
    text-decoration: underline;
  }

  .textContainer a:hover {
    color: #64a953;
  }
  
  .AcumaticaModules {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container {
    width: 50%;
  }

  .AcumaticaModules ul {
    list-style-type: none;
  }

  .AcumaticaModules ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #111;
    padding: 1.1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .containerLink {
    text-decoration: none;
    color: #111;
    font-size: 1.5rem;
  }

  /* Media Query for Responsiveness */
  @media (max-width: 768px) {
    .acumaticaContent {
      padding: 0 20px;
    }
  }

  /* account software */

  .AccountContainer {
    width: 100%;
    margin-top: 2.5rem;
  }

  .accountsSoftware {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .software {
    position: relative;
    width: 23%;
    height: 400px;
    /* background-color: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: center;
  }

  .software a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    z-index: 1111111;
  }

  .software a:hover {
    color: #64a953;
  }
  
  .software::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  /* Acumatica */
  .acumaticaContent1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    text-align: center;
  }

  .acumaticaContent1 p {
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 550;
  }

  .videoContainer {
    margin: 2.5rem 0;
  }

  .acumatica3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .image2 {
    flex: 40%;
  }

  .textContainer2 {
    flex: 40%;
    align-items: center;
  }

  .textContainer2 p {
    line-height: 1.5;
  }

  .accountsSoftware {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  /* palladium */
  .acumaticaContainer .two {
    margin-top: -1.5rem;
  }

  .acumaticaContainer .two p {
    margin-top: -1rem;
  }

  .acumaticaContainer .buttons {
    display: flex;
    gap: 3rem;
  }

  .acumaticaContainer button {
    border: 1px solid;
    padding: .5rem 1rem;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }

  .acumaticaContainer button:hover {
    color: #fff;
    background-color: #64a953;
    border: 1px solid #64a953;
  }

  .palladiumVersions {
    margin-top: 4rem;
  }

  .pallSoftware {
    width: 20%;
    height: 516px;
    padding: 0 .6rem;
    line-height: 1.6;
    background-size: cover;
  }

  .pallSoftware::after {
    background-color: rgba(0, 0, 0, 0);
  }

  .pallSoftware button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
  }

  .pallSoftware button:hover {
    background-color: #fff;
    border: 1px solid black;
    color: black;
  }

  .pallContent {
    margin-top: 2rem;
    width: 77%;
  }

  .pallContent1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .pallImage {
    flex: 30%;
  }

  .pallImage img {
    width: 100%; 
    height: auto;
}
  
  .pallDesc {
    flex: 70%;
    text-align: center;
  }

/* general image */

.GeneralContainer {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.GeneralImage {
  display: flex;
  flex-wrap: wrap; 
}

.imageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;

  @media screen and (max-width: 768px) {
    width: 50%; 
  }

  @media screen and (max-width: 480px) {
    width: 100%; 
  }
}

.imageBox img {
  height: auto;
  width: 100%; 
}

.bronchureBox {
  display: flex;
}




  

  